<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.2">
	
	<!-- Quick data entry Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Rwanda MoH</author>
	<description>
			Quick Lab data entry. A module that helps in capturing past Lab tests records
	</description>

	<!-- Dependency to the Trac Portal module -->
	<require_modules>
		<require_module version="0.1.1">org.openmrs.module.mohtracportal</require_module>
	</require_modules>
	
	<activator>${project.parent.groupId}.${project.parent.artifactId}.QuickLabDataEntryActivator</activator>
	
	<!-- <updateURL>https://dev.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>1.9.9</require_version>
	
	<!-- Extensions -->
	<!-- <extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension> -->
	
	<extension>
		<point>org.openmrs.tracmodule.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	<!--<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.QuickDataEntryDashboardTab</class>
	</extension> -->
	
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	
	<!-- Required Privileges -->
	<privilege>
		<name>Add Quick Lab data</name>
		<description>Allows user to add Lab data in a quick way</description>
	</privilege>
	 
	<privilege>
		<name>Add Quick Drug Order data</name>
		<description>Allows user to add Drug Orders in a quick way</description>
	</privilege>
	 <!-- /Required Privileges -->


	<!-- Required Global Properties 
	<globalProperty>
		<property>${project.parent.artifactId}.someProperty</property>
		<defaultValue></defaultValue>
		<description>
			A description of the global property goes here.  The description
			should explain enough for administrators to understand the purpose
			and possible values for the global property.
		</description>
	</globalProperty>
	/Required Global Properties -->
	
	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.${project.parent.artifactId}.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import ${project.parent.groupId}.${project.parent.artifactId}.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>${project.parent.groupId}.${project.parent.artifactId}.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

